#include <windows.h>
#define IDD_SETTINGS 100
IDD_SETTINGS DIALOGEX 0, 0, 180, 50
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION L"Settings"
FONT 9, L"Segoe UI"
BEGIN
    CONTROL L"Auto run", 101, L"Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 10, 100, 12
    DEFPUSHBUTTON L"OK", IDOK, 40, 30, 50, 14
    PUSHBUTTON L"Cancel", IDCANCEL, 100, 30, 50, 14
END